<% provide(:title, 'Admin') %>
<div class="container-fluid intro-section">
  <div class="row text-center">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class='text-center'>Key</th>
            <th class='text-center'>Value</th>
            <th class='text-center'></th>
          </tr>
        </thead>
        <tbody>
          <% flat_hash(@settings).each do |key, value| %>
            <tr>
              <td class='col-xs-3'><%= key %></td>
              <td class='col-xs-6'><%= value %></td>
              <td class='col-xs-3'>
                <%= button_to 'Edit', '#',
                    method: 'get', class: "btn btn-success btn-lg" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
