<div class="row">
    <div class="col-lg-12">
      <h1>About Me</h1>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
      <%= image_tag 'profile.png', class: "img-responsive img-circle img-profile" %>
    </div>
    <div class="col-sm-9 col-xs-12">
      <p class="intro">
        I have found my true passion in programming.
        I love to solve challenges, whether it is navigating a robot to
        its destination using only Bluetooth, or recognizing printed digits on an image.
        Having a background in Computer Science and a great, hands-on experience as a
        Software QA Engineer intern at SessionM (the Boston start-up), I help
        people to solve their problems by brainstorming, planning, and coding solutions.
      </p>
      <p>
        <b>Technical skills:</b>
        <ul>
          <li><strong>Languages:</strong> intermediate - Java, Ruby; elementary - Python, C++, JavaScript, Assembly</li>
          <li><strong>Web:</strong> Ruby on Rails, HTML/CSS/JS, ChartJS, RESTful APIs, MVC</li>
          <li><strong>Web services:</strong> Heroku, AWS - EC2</li>
          <li><strong>Mobile:</strong> Android Studio, XML</li>
          <li><strong>Testing:</strong> Jenkins, Travis, JMeter, Selenium</li>
          <li><strong>Others:</strong> git, makefile, HTTP signature, PostgreSQL, OpenCV, Raspberry Pi</li>
        </ul>
      </p>

      <br><br>
      <a class="btn btn-default page-scroll" href="#projects">Click Me to Scroll Down!</a>
    </div>
</div>
