<div class="row">
    <div class="col-lg-12">
      <h1>About Me</h1>
      <%= image_tag 'profile.png', class: "img-responsive img-circle img-profile" %>
      <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
      <a class="btn btn-default page-scroll" href="#projects">Click Me to Scroll Down!</a>
    </div>
</div>
