<div class="row">
    <div class="col-lg-12">
        <h1>Projects</h1>
    </div>
    <div class="col-lg-6 panel panel-default">
      <div class="panel-heading">BeaconBot</div>
      <div class="panel-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BgrFI5o5DLI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="panel-footer intro">
        It is common for items such as keychains and remote TV controls to get lost.
        The time required to find lost items can sometimes take hours. The solution
        to that problem is to attach a small beacon to a keychain, and whenever
        the keychain is lost, a self- driving car robot can be deployed to find
        the lost item. Using Bluetooth as a connection medium between the robot
        and the beacon (that is attached to a lost item), robot will navigate an
        area to reach the beacon’s position. This idea is unique in its use of
        two connected items (the robot and the beacon) in order to solve the
        frequent yet not fully resolved the problem of lost items.
      </div>
    </div>
    <div class="col-lg-6 panel panel-default">
      <div class="panel-heading">BeaconBot</div>
      <div class="panel-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BgrFI5o5DLI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="panel-footer">Description</div>
    </div>
    <div class="col-lg-6 panel panel-default">
      <div class="panel-heading">BeaconBot</div>
      <div class="panel-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BgrFI5o5DLI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="panel-footer">Description</div>
    </div>
    <div class="col-lg-6 panel panel-default">
      <div class="panel-heading">BeaconBot</div>
      <div class="panel-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BgrFI5o5DLI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="panel-footer">Description</div>
    </div>
</div>
