<% provide(:title, 'Home') %>
<% Settings.home_sections.each do |key, value| %>
  <section id="<%= value.downcase %>" class="<%= value.downcase %>-section">
      <div class="container-fluid">
        <%= render "#{key}" %>
      </div>
  </section>
<% end %>
