<% [:intro, :projects, :resume, :contact].each do |key| %>
  <section id="<%= header_menus(key).downcase %>" class="<%= header_menus(key).downcase %>-section">
      <div class="container">
        <%= render "#{key}" %>
      </div>
  </section>
<% end %>
