<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% unless @user[:name].blank? %>
      <h3>You have new message from <%= @user[:name] %>!</h3>
    <% else %>
      <h3>You have new message!</h3>
    <% end %>
    <h4>Email: <%= @user[:email] %></h4>
    <h4>Message:</h4>
    <p><%= @user[:message] %></p>
  </body>
</html>
