<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @url %>!</h1>
    <p>
      You message can be seen below:
    </p>
    <p><%= @message.body %></p>
  </body>
</html>
