// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-size:         1.7em;
$letter-spacing:    -1px;
$font-weight:       bold;
$anchor-decoration: none;
$image-size:        250px;

#logo {
  float: left;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
  &:hover {
    text-decoration: $anchor-decoration;
  }
}

.img-profile {
  margin: 0 auto;
}

.row ul {
  text-align: left;
  padding-left: 2%;
}

.intro {
  text-align: justify;
}

@media(max-width:767px) {
  .row p, ul {
    font-size: 14px;
  }
  .img-profile {
    max-height: 150px;
    max-width: 150px;
  }
}

@media(min-width:768px) {
  .row p, ul {
    font-size: 16px;
  }
  .img-profile {
    max-height: 180px;
    max-width: 180px;
  }
}

@media(min-width:992px) {
  .row p, ul {
    font-size: 18px;
  }
  .img-profile {
    max-height: 230px;
    max-width: 230px;
  }
}

@media(min-width:1200px) {
  .row p, ul {
    font-size: 20px;
  }
  .img-profile {
    max-height: 250px;
    max-width: 250px;
  }
}

[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
