// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-size:         1.7em;
$letter-spacing:    -1px;
$font-weight:       bold;
$anchor-decoration: none;
$image-size:        250px;

#logo {
  float: left;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
  &:hover {
    text-decoration: $anchor-decoration;
  }
}

.img-profile {
  float: right;
  width: $image-size;
  height: $image-size;
}
